<!DOCTYPE html>
<html>
<head>
  <title>Scrum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="/assets/partials.css">
  <%= javascript_include_tag "application" %>
  <script src="/assets/modal.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<%= render 'layouts/header' %>
</header>
<% if signed_in? %>
  <%= render 'layouts/sidenav' %>
<% end %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="content">
  <%= yield %>
</div>
</body>
</html>
